
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&family=Montserrat:wght@300&family=Silkscreen&display=swap');

/* Estilos generales */

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  
 text-align: center;
 color: #0a3863;
 background-image:  linear-gradient(to right ,#7dc1fc, #ffffff)
}


header {
  width: 100%;
  height: 100vh;
  background-image: url(fondo5.jpg);
  
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 170px;
  margin-left: 20px ;
}

.bar-btn {
  font-size: 25px;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu{
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: rgba(16, 17, 20, 0.95);
  text-align: center;
  transition: all .5%;
}

.nav-menu li{
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all .5%;
}

.nav-menu li a{
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover {
  color: #2e72b3;
  transition: .8s;
  background-color: #fff;
  border-radius: 15px;
  padding: 5px 10px;
}

#check:checked ~ .nav-menu{
  height: 100vh;
}

#check:checked ~ .nav-menu li{
  display: block;
}

/*BANNER TEXT*/

.banner-text{

  margin-top: 150px;
  text-align: center;
  color: #fff;
}

.banner-text h1{
  font-size: 50px;
  margin-bottom: 30px;
  text-align: centers;
}

.banner-text span{
  color: #0a3863;
  font-weight:1000;
}

.banner-text h2{
  font-size: 20px;
  font-weight: 600;
text-align: center;
}

.button1{
  margin-right: 40px;
  padding: 10px 30px;
  background-color: #2e72b3;
  color: #fff;
  border-radius: 5px;
}

.button1:hover{
  background-color: #fff;
  color: #2e72b3;
  transition: 5s;

}

.button2{
  margin-right: 40px;
  padding: 10px 30px;
  background-color: #fff;
  color: #2e72b3;
  border-radius: 5px;
}

/*RESPONSIVE*/

@media screen and (min-width: 768px) {
  .logo{
    margin-left: 50px;
  }

  nav{
    height: 100px;
  }

  .bar-btn{
    display: none;
  }

  .nav-menu{
    position: relative;
    height: 100px;
    top: 0;
    transition: none;
    background: none;
    text-align: right;
    margin-right: 50px;
  }
  .nav-menu li{
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
  }

  .nav-menu li a {
    font-size: 12px;

  }

  .banner-text h1{
    font-size: 70px;
    margin-bottom: 30px;
  }

  .banner-text h2{
    font-size: 20px;
    
  }
}

.button2:hover{
  background-color:#2e72b3;
  color:#fff;
  transition: 5s;

}

.juego {
  width: 100%;
  height: 80vh;
  
  align-items: center;
}

.juego-content{
width: 100%;
padding: 50px;
color: #0a3863;
align-items: center;
}

.juego-content h1{
  font-size: 7vmin;
  margin: 20px;
}

#button-juego{
  padding: 8px 15px;
  color: #fff;
  border-radius: 30px;
background-color: #0a3863;
}

.form-juego{
  padding: 10px 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}



@keyframes planeAnimation {
  0% {
      transform: translateX(0) translateY(0);
  }
  100% {
      transform: translateX(100vw) translateY(50vh);
  }
}

/* Estilos para la navbar */
/* Estilos para el título */
h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
}


input[type=text], input[type=email], textarea {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}






.hidden {
  display: none;
}

label {
  color: white;
  font-size: 30px;
  font-weight: 600;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;

}#miFormulario {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 auto;  /* centra el formulario en la página */
  margin-top: 10%;
  background-color: aliceblue;
}

#miFormulario label {
  display: block;
  margin-bottom: 10px;
}

#miFormulario select,
#miFormulario textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-sizing: border-box;  /* para que el padding no aumente el tamaño total del elemento */
}

#miFormulario input[type="submit"] {
  background-color: #2e72b3;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}


.question {
  margin-bottom: 2em;
}

.question h2 {
  font-size: 1.2em;
}

.options {
  list-style-type: none;
  padding: 0;
}

.options li {
  margin-bottom: 0.5em;
}

.options li button {
  padding: 0.5em;
}
@media screen and (min-width: 600px) {
  #miFormulario {
      width: 50%;
  }
}
