/* Estilos generales */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #2e72b3;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #DDE6FF; /* Color de fondo de la página */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilos para la navbar */
.navbar {
  background-color: #2e72b3;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Estilos para el título */
h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
}


input[type=text], input[type=email], textarea {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


@keyframes carrusel {
  0% {
    background-image: url(imagen1.jpg);
  }
  33% {
    background-image: url(imagen2.jpg);
  }
  66% {
    background-image: url(imagen3.jpg);
  }
  100% {
    background-image: url(imagen1.jpg);
  }
}

nav {
  background-color: #444;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

h1 {
  text-align: right;
  color: #fff;
  font-size: 60px;
  margin: 0px;

}
.hidden {
  display: none;
}

label {
  color: white;
  font-size: 30px;
  font-weight: 600;
  background-color:  #2e72b3;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}#miFormulario {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 auto;  /* centra el formulario en la página */
  margin-top: 10%;
  background-color: aliceblue;
}

#miFormulario label {
  display: block;
  margin-bottom: 10px;
}

#miFormulario select,
#miFormulario textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-sizing: border-box;  /* para que el padding no aumente el tamaño total del elemento */
}

#miFormulario input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

@media screen and (min-width: 600px) {
  #miFormulario {
      width: 50%;
  }
}
